.title
{
    text-align: center;
    font-size: 3em;
    margin: 20px;
    color: #3F51B5;
}
.field
{
    align-content: center;
    width:70%;
    padding: 5%;
}
.field > *
{
    width: 100%;
    align-content: center;
}
.picture
{
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;
    border: #3F51B5 solid 5px;
    margin: 5px;

}
.pic
{
    text-align: center;
}
.page
{
    box-shadow: gray 0px 5px 5px 0px;
    border-top: solid #3F51B5 5px;
}
