<div class="container" style="text-align: center">
  <mat-form-field class="row">
    <mat-label>Promotion</mat-label>
    <mat-select (selectionChange)="onChangePromotion($event)">
      <mat-option value="0">Toutes les promotions</mat-option>
      <div *ngFor="let promotion of annees">
        <mat-option [value]="promotion"> {{ promotion }} </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <div class="row member" *ngFor="let etudiant of etudiants; let i=index">
    <div class="row">
      <div class="col-sm-6" style="text-align: left">
        <h2>{{ etudiant.nom }} {{ etudiant.prenoms }} ({{ etudiant.promotion }})</h2> 
      </div>
      <div class="col-sm-6" style="text-align: right">
        <h3 class="row" style="text-align: center">{{ etudiant.poste }}</h3>
        <h3 class="row" style="text-align: center">{{ etudiant.entreprise }}</h3>
      </div>  
    </div>
    <div class="row">
      <button mat-raised-button color="primary" (click)="onLoadDescription(etudiant)">Details</button>
    </div>
  </div>
</div>